#root{
  background-color: black;
  color: #dda638;
}

/* Reset default browser spacing */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333; /* Or whatever your main background color is */
  overflow-x: hidden;
  font-family: 'Exo 2', sans-serif;
}

/* Optional: make sure everything fits nicely */
* {
  box-sizing: border-box;
}

/* Hamburger button */
.hamburger {
  display: block; /* mobile */
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #dda638;
  cursor: pointer;
  margin-bottom: 0.5rem;


  z-index: 3000;
}

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: row; /* mobile-first */
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 1rem;

  /* Sticky */
  position: sticky;
  top: 0;
  z-index: 1000;

  /* Shading */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.navbar nav {
  display: none;
  /*flex-direction: column;
  gap: 0.5rem;
  align-items: center;*/
  width: 100%;
}

.navbar nav.open {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;

background: rgba(0, 0, 0, 1);
z-index: 2000;
}

.navbar .logo-button{
  background-color: transparent;
  border: 1px solid transparent;
}

.nav-link {
  color: #dda638;
  text-decoration: none;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.nav-link:hover {
  background: #c193378b;
}

/* Active link style */
.nav-link.active {
  background: #dda638;
  color: #333;
}

/* Responsive breakpoints */
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  .navbar nav {
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
  }

  /*hide hamburger on desktop */
  .hamburger {
    display: none;
  }
}


/* Footer */

footer{
  background-color: #333;
  padding-bottom: 25px;
  color: #dda638;
}

footer h3{
  justify-self: center;
  font-weight: 400;
  font-size: medium;
}


.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* see if you want to keep this translation (just nudges the stuff to the left), also make sure to fix the social icons for this part too*/
  /*transform: translateX(-5%);*/
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-col {
  /*flex: 1;*/
  min-width: 200px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Mobile footer */
@media (max-width: 768px) {
  .footer{
    display: flex;
    flex-direction: column;
  }

  .footer-row{
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .footer address{
    transform: translateX(30%);
  }
  }
  


/* Contact form styling */

.form-sida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sida h2 {
  font-size: 40px;
}

.form-cols {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
}



@media (min-width: 768px){ /* just to fix text on desktop*/
.form-cols p {
  max-width: 50%;
  font-size: larger;
  transform: translateY(-100%);
  padding-left: 1rem;
}
}

/* Kontakt sida */
.kontakt-sida h2{
  color: #c79a3f;
  /*color: black;*/
}

.kontakt-sida{
  font-weight: 500;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


.kontakt-formular h2{ 
  transform: translateX(18%);
}

.kontakt-formular {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; 
  box-sizing: border-box;
  gap: 1rem;
  background-color: rgb(70, 70, 70);
  color: #dda638;
  padding: 2rem;
  border-radius: 8px;
  flex: 1;
}

.kontakt-formular input,
.kontakt-formular textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 6px;
  border: 1px solid #271f1f;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  background: rgb(70, 70, 70);
  color: #dda638;
}

.kontakt-formular input::placeholder,
.kontakt-formular textarea::placeholder {
  color: #dda638
}


.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.75rem;
}

.kontakt-formular button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #dda638;
  color: #333;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.kontakt-formular button:hover {
  background-color: #dda638;
}


/* Mobile optimization */
@media (max-width: 785px) {
  .form-sida{
    display: flex;
    flex-direction: column;
  }
  
  .form-sida h2{
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
  .form-cols {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .form-cols p {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
  }

  .kontakt-formular h2{
    transform: none;
  }
  .kontakt-formular {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    padding-right: 2rem;
  }

  .kontakt-formular input,
  .kontakt-formular textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.95rem;
    padding: 0.75rem;
    padding-right: 1.5rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }

  .kontakt-formular button {
    width: 90%; 
    margin: 0 auto;
  }

  .form-row{
    flex-direction: column;
  }

}

/* Lagersida */

.lager-section {
  background-image: url(/public/bg_images/lager.jpg);
  background-size: cover;
  /*color: #f0f0f0;*/
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  position: relative;
}

.lager-section h2{
  font-size: 40px;
}

.lager-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
  pointer-events: none;
}
.lager-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1100px;
  width: 100%;
}

.lager-text {
  flex: 1;
  min-width: 280px;
}

.lager-text h2{
  color: #dda638;
  margin-bottom: 1rem;
}

.lager-text p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.lager-button {
  display: inline-block;
  background-color: #dda638;
  color: black;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.lager-button:hover{
  background-color: #e3b85d;
}

.iframe-wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 /* background-color: black;*/
  border-radius: 8px;
  padding: 1rem;
  max-width: 500px;
}


.IframeBox {
  width: 100%;
  height: 225px;
  border: none;
  border-radius: 6px;
 /* background-color: black;*/
  overflow: hidden;
  box-shadow: 0 0 20px black;
}

@media (max-width: 768px) {
  .lager-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .iframe-wrapper {
    width: 100%;
    max-width: 90%;
    padding: 0;
    margin-top: 2rem;
  }

  .IframeBox{
    height: 300px;
  }

  .lager-button {
    margin-top: 1rem;
  }

  .lager-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
}


/*.lager-sida {
  text-align: center;
  margin-top: 2rem;
}

.IframeBox {
  background: #271f1f;
  width: 236px;
  height: 225px;
  border: none;
  background-color: black;
  overflow: hidden; /*istället för scrolling="no" 
  margin: 0 auto;
}

@media (max-width: 600px){
  .IframeBox {
    width: 100%;
    height: 400px;
  }
}*/

/* Bilder */
/*.lager-sida{
  background-image: url(/public/bg_images/lager.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}



.lager-sida > * {
  position: relative;
  z-index: 1;
}*/
.salj-sida{
  background-image: url(/public/bg_images/nycklar.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.salj-sida::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.salj-sida > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px){
  .salj-sida{
    background-position: center;
  }
}

.kontakt-sida{
  background-image: url(/public/bg_images/tools.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
.kontakt-sida::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.kontakt-sida > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px){
  .kontakt-sida p{
    text-align: start;
  }
}

.om-oss {
  background-image: url(/public/bg_images/bilar.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  position: relative;
  font-size: large;
  font-weight: bolder;
  padding-left: 3rem;
  padding-right: 3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.om-oss::before{
   content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.om-oss > * {
  position: relative;
  z-index: 1;
}

.om-oss h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.om-oss p{
  font-size: 20px;
  font-weight: lighter;
}

.start{
  background-image: url(/public/bg_images/maro.jpg);
   background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  position: relative;
  font-size: large;
  font-weight: bolder;
  padding-left: 3rem;
  padding-right: 3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.start::before{
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.start > * {
  position: relative;
  z-index: 1;
}

.start h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.start p{
  font-size: 20px;
  font-weight: lighter;
}













