#root {
  color: white;
}

/* Reset default browser spacing */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black; /* bakgrundsfärg */
  overflow-x: hidden;
  font-family: 'Exo 2', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Hamburger button */
.hamburger {
  display: block;
  /* mobile */
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;


  z-index: 3000;
}

/* Navbar styles */
.navbar {
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Visuals */
  background-color: rgba(0, 0, 0, 0.3); 
  color: white;
  padding: 1rem;

  /* Positioning */
  position: sticky;
  top: 0;
  z-index: 1000;

  /* Subtle blur and shading */
 backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* Safari support*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: sheen 6s forwards;
}

@media(max-width: 768px){
  .navbar::after{
    width: 50%;
    left: -75%;
  }
}
@keyframes sheen {
  0% {left: -75%;}
  100% {left: 100%;}
}

.navbar .logo {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.navbar nav {
  display: none;
  width: 100%;
}

.navbar nav.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 1);
  z-index: 2000;
}

.navbar .logo-button {
  background-color: transparent;
  border: 1px solid transparent;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.541);
  color: black;
}

/* Active link style */
.nav-link.active {
  background: white;
  color: #333;
}

/* Responsive breakpoints */
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  .navbar nav {
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
  }

  /*hide hamburger on desktop */
  .hamburger {
    display: none;
  }
}


/* Footer */

footer {
  background-color: black;
  padding-bottom: 25px;
  color: white;
  a:link{color: white;}
  a:visited{color: white;}
}

footer h3 {
  justify-self: center;
  font-weight: 400;
  font-size: medium;
}


.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-col {
  /*flex: 1;*/
  min-width: 200px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  a:link{ color: white;}
  a:visited{
    color: white;
  }
}

/* Mobile footer */
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .footer address {
    transform: translateX(30%);
  }
}



/* Contact form styling */

.kontakt-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex: 1;
  max-width: 450px;
  margin-top: -2rem;
}

.kontakt-text h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.kontakt-text p {
  text-align: left;
  max-width: 90%;
}

.form-sida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sida h2 {
  font-size: 40px;

}

.form-cols {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 2rem;
  gap: 3rem;
  justify-content: center;
}




@media (min-width: 768px) {

  /* just to fix text on desktop*/
  .form-cols p {
    max-width: 100%;
    font-size: larger;
    padding-left: 0;
  }
}

/* Kontakt sida */
.kontakt-sida h2 {
  color: white;
   opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease-out forwards;
}

.kontakt-sida {
 display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -2rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}


.kontakt-formular h2 {
  text-align: center;
}

.kontakt-formular h3{
  text-align: center;
  font-size: 25px;
}

.kontakt-formular {
flex: 1;
  max-width: 500px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2rem;
  border-radius: 8px;
}


.kontakt-formular input,
.kontakt-formular textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 6px;
  border: 1px solid #ffffffa9;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.kontakt-formular input::placeholder,
.kontakt-formular textarea::placeholder {
  color: white
}


.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.75rem;
}

.kontakt-formular button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: white;
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.kontakt-formular button:hover {
  background-color: white;
}


/* Mobile optimization */
@media (max-width: 785px) {
  .form-sida {
    display: flex;
    flex-direction: column;
  }

  .form-sida h2 {
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
  

  .form-cols {
    display: flex;
    flex-direction: column;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
  }

  .form-cols p {
    max-width: 100%;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    text-align: justify;
  }

  .kontakt-formular h2 {
    transform: none;
  }

  .kontakt-formular {
    display: flex;
    flex-direction: column;
    width: 100%;
   /* padding: 1rem;
    padding-right: 2rem;*/
  }


  .kontakt-formular input,
  .kontakt-formular textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.95rem;
    padding: 0.75rem;
    padding-right: 1.5rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }

  .kontakt-formular button {
    width: 90%;
    margin: 0 auto;
  }

  .form-row {
    flex-direction: column;
  }

}

/* Lagersida */

.lager-section {
  background-image: url(/bg_images/lager2.jpg);
  background-size: cover;
  /*color: #f0f0f0;*/
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.lager-section h2 {
  font-size: 40px;
}

.lager-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
  pointer-events: none;
}

.lager-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1100px;
  width: 100%;
}

.lager-text {
  flex: 1;
  min-width: 280px;
}

.lager-text h2 {
  color: white;
  margin-bottom: 1rem;
}

.lager-text p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.lager-button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.lager-button:hover {
  background-color: #000000;
  color: white;
}

.iframe-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  max-width: 500px;
}


.IframeBox {
  width: 100%;
  height: 225px;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 20px black;
}

@media (max-width: 768px) {
  .lager-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .iframe-wrapper {
    width: 100%;
    max-width: 90%;
    padding: 0;
    margin-top: 2rem;
  }

  .IframeBox {
    height: 300px;
  }

  .lager-button {
    margin-top: 1rem;
  }

  .lager-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
}


.lager-sida {
  margin-top: -1.2rem;
}

.lager-sida h2{
   opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease-out forwards;
}

/* Bilder */
.salj-sida {
  background-image: url(/bg_images/nycklar.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin-top: -1.2rem;
  padding: 3rem;
}

.salj-sida::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.salj-sida>* {
  position: relative;
  z-index: 1;
}

.salj-sida h2{
   opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease-out forwards;
}

@media (max-width: 768px) {
  .salj-sida {
    background-position: center;
  }
}

.kontakt-sida {
  background-image: url(/bg_images/kontakt2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.kontakt-sida::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.kontakt-sida>* {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .kontakt-sida p {
    text-align: start;
  }
}

.om-oss {
  background-image: url(/bg_images/bilar.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  position: relative;
  font-size: large;
  font-weight: bolder;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: -1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.om-oss::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.om-oss>* {
  position: relative;
  z-index: 1;
}

.om-oss h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.om-oss p {
  font-size: 20px;
  font-weight: lighter;
}

.om-oss h2, p{
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease-out forwards;
}
.start{
  background-image: url(/bg_images/start.jpeg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  position: relative;
  font-size: large;
  font-weight: bolder;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: -1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.start::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.start>* {
  position: relative;
  z-index: 1;
}

.start h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.start p {
  font-size: 20px;
  font-weight: lighter;
}

.start h2, p{
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.2s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}