
/* Hamburger button */
.hamburger {
  display: block; /* mobile */
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #61dafb;
  cursor: pointer;
  margin-bottom: 0.5rem;


  z-index: 3000;
}

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: row; /* mobile-first */
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 1rem;

  /* Sticky */
  position: sticky;
  top: 0;
  z-index: 1000;

  /* Shading */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.navbar nav {
  display: none;
  /*flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;*/
}

.navbar nav.open {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;

background: rgba(0, 0, 0, 1);
z-index: 2000;
}

.nav-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.nav-link:hover {
  background: rgba(97, 218, 251, 0.2);
}

/* Active link style */
.nav-link.active {
  background: #61dafb;
  color: #333;
}

/* Responsive breakpoints */
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  .navbar nav {
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
  }

  /*hide hamburger on desktop */
  .hamburger {
    display: none;
  }
}


/* Footer */

footer{
  background-color: #333;
  padding-bottom: 25px;
  color: #61dafb;
}

footer p, address{
  padding-left: 30px;
  color: #4594aa;
}
.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* see if you want to keep this translation (just nudges the stuff to the left), also make sure to fix the social icons for this part too*/
  transform: translateX(-5%);
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-col {
  /*flex: 1;*/
  min-width: 200px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateX(-5%);
}





